@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --shadow-mode-light:
    0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11);
  --shadow-mode-dark:
    0 1px 1px #464242, 0 2px 2px #464242, 0 4px 4px #464242, 0 4px 4px #464242;
  --breakpoint-xs: 22.5rem;  /*360px */
  --breakpoint-ss: 30rem;     /*480px */
  --breakpoint-base: 0;     /*0px */
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark {
  background-color: #121212;
  color: #ffffff;
}
.light {
  background-color: #d4d9df;
  color: #000000;
}
